
*{
    margin: 0;
    padding:  0;
    text-decoration: none;
    list-style: none;
}

body{ 
    
    background-color: #08AEEA;
    background-image: linear-gradient(309deg, #08AEEA 0%, #2AF598 100%);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}


.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color:black;
}

.navbar .img-logo{
    position: absolute;
    width: 80px;
    height: auto;
    left: 270px;
    top: 35px;
}

.navbar .logo{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar p{
    position: absolute;
    padding-top: 40px;
}

.navbar .nav-link ul{
    display: flex;
}

.navbar .nav-link ul li{
    margin: 0 20px;
}

.navbar .nav-link ul li.active a{
    color: rgba(12, 12, 12, 0.993);
    font-weight: 600;
}
.navbar .nav-link ul li.active a:hover{
    font-weight: 600;
}

.navbar .nav-link ul li a:hover{
    font-weight: 500;
}

.navbar .menu-hamburger
{
    display: none;
    position: absolute;
    top: 55px;
    right: 50px;
    width: 35px;
}



@media screen  and (max-width :1035px) {

    .navbar .menu-hamburger{
        display: block;
    }

    .nav-link{
       position: absolute;
       width: 100%;
       height: 100vh;
       background-color: rgba(5, 5, 5, 0.562);
       backdrop-filter: blur(4px);
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }  

    .mobile-menu{
        margin-left: 0;
    }

    .nav-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }  

    .navbar .nav-link ul li{
        margin: 20px 0;
        font-size: 1.3em;
    }

    .nav-link ul li a {
        color: white;
    }

    .navbar .nav-link ul li.active a {
        color: white;
    }

}

@media screen  and (max-width :435px){
    .navbar .img-logo{
        display: none;
    }
}



